body{
	//background: black;
}

#grid-display{
}

.cell{
	display: block;
	width: 20px;
	height: 20px;
	float: left;
}

.cell:hover{
	background: yellow !important;
}

.white{
	background: white;
}

.blue{
	background: blue;
}

.red{
	background: red;
}

.green{
	background: green;
}

.yellow{
	background: yellow;
}